<header class="jds-header ">
  <button class="header-menu-button" (click)="toggleSidenav()">
      <!-- <em class="bi bi-list"></em>         -->
      <div class="icon-section">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.041 21.051">
          <path id="Path_82740" data-name="Path 82740" d="M21398.777,37798.316a3.368,3.368,0,1,1,3.369,3.379A3.363,3.363,0,0,1,21398.777,37798.316Zm14.27-.008a3.368,3.368,0,1,1,3.367,3.367A3.368,3.368,0,0,1,21413.047,37798.309Zm.02-14.277a3.367,3.367,0,1,1,3.367,3.367A3.368,3.368,0,0,1,21413.066,37784.031Zm-14.307-.02a3.367,3.367,0,1,1,3.367,3.367A3.368,3.368,0,0,1,21398.76,37784.012Z" transform="translate(-21398.76 -37780.645)" />
          <rect _ngcontent-dgr-c16="" id="Rectangle_769" data-name="Rectangle 769"  width="21.041" height="21.051" fill="none"></rect>
        </svg>            
      </div>
  </button>
  <div class="logo-text" routerLink="/dashboard">
    <span class="font-bold">Well</span><span class="font-light">Spent</span>   
  </div>
  <div class="grow-1"> </div>
  <div class="header-search-container">
    <span class="bi bi-search"></span>
    <input type="text" class="header-search" placeholder="Search ASN, JMS, PO">
    
  </div>
  <button class="header-rhs-btn notifyme">
    <!-- <em class="bi bi-bell"></em> -->
    <div class="icon-section">
      <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 21.493 23.551">
        <path id="Path_82741" data-name="Path 82741" d="M7.332,20.249a.568.568,0,0,1,.554-.7h4.733a.57.57,0,0,1,.554.7,3,3,0,0,1-5.841,0ZM.75,18.129a.75.75,0,1,1,0-1.5H1.7v-6.6A8.509,8.509,0,0,1,9.005,1.562C9,1.534,9,1.5,9,1.475V1.249a1.25,1.25,0,0,1,2.5,0v.226c0,.028-.007.054-.01.082A8.36,8.36,0,0,1,18.8,9.848v6.782h.948a.75.75,0,0,1,0,1.5Zm9.3-15.154A7.012,7.012,0,0,0,3.2,10.027v6.542H17.3V9.848a6.885,6.885,0,0,0-7.037-6.877h0C10.188,2.971,10.118,2.972,10.047,2.975Z" transform="translate(0.5 0.5)" stroke="rgba(0,0,0,0)" stroke-width="1"/>
        <rect _ngcontent-dgr-c16="" id="Rectangle_769" data-name="Rectangle 769"  width="21.493" height="23.551" fill="none"></rect>
      </svg>          
    </div>
    <!-- Notification dropdawn code -->
    <div class="notify-dropdown"> 
      <h6 class="body-02 secondary-font px-3"> Notification </h6>
      <div class="fix-height">
        <div class="head-notification-block">
          <div >    
            <div class="notification-circle"> </div>
          </div>
          <div class="caption-01 font-light">
            <p class="mb-1 ">
              <span class="bold secondary-font"> Policy 25</span> has been modified as per the Governments requirements.
            </p>
            <div class="overline-01"> 22/09/21  23:53 </div>
          </div>
        </div>
      </div>
      <div class="">
        <button class="r-btn-outlined r-btn-secondary r-btn-small border-none bold full-width"> View All</button>
      </div>
    </div>
  </button>    
  <button class="header-rhs-btn " *ngIf="userIsAuthenticated" (click)="logout()">
      <!-- <em class="bi bi-power"></em> -->
      <div class="icon-section">
      <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 21.883 21.908">
        <g id="Group_582" data-name="Group 582" transform="translate(-1898.958 -1810.094)">
          <path id="Path_82742" data-name="Path 82742" d="M-1044.1,20771.514a10.406,10.406,0,0,1,4.84-8.814.746.746,0,0,1,1.033.23.744.744,0,0,1-.229,1.031,8.912,8.912,0,0,0-4.146,7.553,8.951,8.951,0,0,0,8.945,8.939,8.954,8.954,0,0,0,8.945-8.939,8.907,8.907,0,0,0-4.157-7.557.755.755,0,0,1-.229-1.033.758.758,0,0,1,1.038-.234,10.408,10.408,0,0,1,4.845,8.824,10.453,10.453,0,0,1-10.442,10.441A10.453,10.453,0,0,1-1044.1,20771.514Zm9.691-4.584v-5.133a.75.75,0,0,1,.751-.75.754.754,0,0,1,.751.75v5.133a.75.75,0,0,1-.751.746A.747.747,0,0,1-1034.407,20766.93Z" transform="translate(2943.556 -18950.453)" stroke="rgba(0,0,0,0)" stroke-width="1"/>
        </g>
        <rect _ngcontent-dgr-c16="" id="Rectangle_769" data-name="Rectangle 769"  width="21.883" height="21.908" fill="none"></rect>
      </svg>
      
    </div>
      
  </button>
  <button class="login-details notifyme" >
    <span class="initials-here"> AN </span>

    <div class="notify-dropdown fix-width"> 
      <div class="" *ngIf="userIsAuthenticated">
        <button class="r-btn-outlined r-btn-small r-btn-secondary full-width justify-content-start border-none">
          <em class="bi bi-person me-2"> </em> View Profile
        </button>
        <button class="r-btn-outlined r-btn-small r-btn-danger full-width justify-content-start border-none ms-0 mb-0" (click)="logout()">
          <em class="bi bi-power me-2"> </em> Logout
        </button>
      </div> 
      <div class=""  *ngIf="!userIsAuthenticated">
        <a class="" href="/signup">
        <button class="r-btn-outlined r-btn-small r-btn-secondary full-width justify-content-start border-none">
          <em class="bi bi-person-plus me-2"> </em> Sign Up
        </button>
        </a>
        <a class="" href="/login">
        <button class="r-btn-outlined r-btn-small r-btn-warning full-width justify-content-start border-none ms-0 mb-0">
          <em class="bi bi-person me-2"> </em> Sign In
        </button>
        </a>
      </div>      
    </div>
  </button> 
</header>

<!-- dropdown menu code here -->

<div class="jds-header-dropdown hideMe" (click)="toggleMenu()">

</div>