<div class="jds-navigation ">
  <div class="jds-navigation-container">
    <div class="menu-button ">
      <!--  selected  to show highlight link-->
      <div class="menu-icon">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30.003">
          <path id="HOME"
            d="M414.167,1478.987h-4.638a1.522,1.522,0,0,1-1.521-1.52v-7.159h-5.636v7.159a1.522,1.522,0,0,1-1.521,1.52h-4.627a2.011,2.011,0,0,1-2.021-2.041v-12.139h-2.178a1.727,1.727,0,0,1-1.62-1.091,2.057,2.057,0,0,1,.494-2.243l12.75-11.822c.019-.018.038-.034.058-.05a2.238,2.238,0,0,1,3.085,0c.02.016.04.033.06.051L419.6,1461.53l.041.04a2.02,2.02,0,0,1,.474,2.177,1.747,1.747,0,0,1-1.643,1.06h-2.293v12.109A2,2,0,0,1,414.167,1478.987Zm-.018-2.143h0Zm-4,0h3.884v-13.108a1.071,1.071,0,0,1,1.071-1.071h2.567l-12.252-11.415a.929.929,0,0,0-.174-.112.94.94,0,0,0-.175.112l-12.31,11.414h2.511a1.071,1.071,0,0,1,1.071,1.071v13.108h3.883v-6.607a2,2,0,0,1,2.049-2.072h5.8a2.006,2.006,0,0,1,2.075,2.072Z"
            transform="translate(-390.257 -1448.984)" />
          <rect _ngcontent-dgr-c16="" id="Rectangle_769" data-name="Rectangle 769" width="30" height="30.003"
            fill="none"></rect>
        </svg> -->
        <span class="bi bi-house"></span>
      </div>
      <span class="menu-txt"> Home </span>
    </div>

                    <!-- Code for Accordian menu -->
                
    <div class="">
      <div class="menu-button menu-accordian selected">
        <div class="menu-icon ">
          <span class="bi bi-person"></span>
        </div>
        <span class="menu-txt">My Profile</span>
        <span class="expand-btn bi bi-chevron-down"></span>
      </div>
      <div class="jds-sub-menu-block">
        <a class="sub-menu-btn selected" href="/dashboard">
          <div class="my-icon bi bi-circle-fill"></div>
          <div class="sub-menu-text"> Dynamic Form</div>
        </a>
        <a class="sub-menu-btn" href="/dynamic-table">
          <div class="my-icon bi bi-circle-fill"></div>
          <div class="sub-menu-text"> Dynamic Table</div>
        </a>
        <a class="sub-menu-btn" href="/test">
          <div class="my-icon bi bi-circle-fill"></div>
          <div class="sub-menu-text"> Form Fields</div>
        </a>
        <a class="sub-menu-btn" href="/tab-bar">
          <div class="my-icon bi bi-circle-fill" ></div>
          <div class="sub-menu-text"> Tab </div>
        </a>
        <a class="sub-menu-btn" href="slider">
          <div class="my-icon bi bi-circle-fill"></div>
          <div class="sub-menu-text"> Slider Panel</div>
        </a>
        <a class="sub-menu-btn" href="/split-page">
          <div class="my-icon bi bi-circle-fill"></div>
          <div class="sub-menu-text"> Split Page</div>
        </a>
        <a class="sub-menu-btn" href="/dialog">
          <div class="my-icon bi bi-circle-fill"></div>
          <div class="sub-menu-text"> Dialog </div>
        </a>
      </div>
    </div>



  </div>
</div>