<html>
    <body>
        <div>
            <h1>My Profile</h1>
        </div>
        <div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">Name</div>
                    <input type="text"/>
                    <!-- <span class="input-message" [ngClass]="[error ? 'error-message':'',(position=='right')?'full-width text-right':'' ]">
                        <ng-content></ng-content>
                      </span> -->
                    <div class="col-md-3">Last Name</div>
                    <input type="text"/>
                    <div class="col-md-3">Employee Code</div>
                    <input type="text"/>
                    <div class="col-md-3">Email Id</div>
                    <input type="text"/>
                    <div class="col-md-3">Contact Number</div>
                    <input type="text"/>
                </div>
            </div>
        </div>
    </body>
</html>
