<div class="jds-main-container header-fixed" >
  <app-header></app-header>
  <div class="jds-content-with-menu">
    <app-side-nav></app-side-nav>
    <div class="jds-page-load">
        <div class="card">
            <div class="card-body">
                <div class="'container-fluid">
                        <div>
                            <h1>My Profile</h1>
                        </div>                            
                                <div class="row">
                                    <div style="width:300px;margin:20px;">
                                        <textfield label="Name">
                                            <input textfield placeholder="name" class="gray-bg" />
                                            
                                        </textfield>
                                    </div>
                                    <div style="width:300px;margin:20px;">
                                        <textfield label="Last Name">
                                            <input textfield placeholder="Last Name" class="gray-bg" />
                                            
                                        </textfield>
                                    </div>
                                    <div style="width:300px;margin:20px;">
                                        <textfield label="Employee Code">
                                            <input textfield placeholder="Employee Code" class="gray-bg" />
                                            
                                        </textfield>
                                    </div>
                                    <div style="width:300px;margin:20px;">
                                        <textfield label="Email ID">
                                            <input textfield placeholder="Email ID" class="gray-bg" />
                                            
                                        </textfield>
                                    </div>
                                    <div style="width:300px;margin:20px;">
                                        <textfield label="Contact Number" [required]="true">
                                            <input textfield placeholder="Phone" class="gray-bg" />
                                            
                                        </textfield>
                                    </div>
                                </div>  
                                <div class="btn">
                                <button class="me-3"  ruibutton design="outlined" size="medium" color="secondary">Submit</button>
                                <button class="me-3"  ruibutton design="outlined" size="medium" color="secondary">Cancel</button>
                               </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>